<% content_for :title, "Editing workout activity" %>

<h1>Editing workout activity</h1>

<%= render "form", fitness_workout_activity: @fitness_workout_activity %>

<br>

<div>
  <%= link_to "Show this workout activity", @fitness_workout_activity %> |
  <%= link_to "Back to workout activities", fitness_workout_activities_path %>
</div>
