<% content_for :title, "Editing workout exercise activity" %>

<h1>Editing workout exercise activity</h1>

<%= render "form", fitness_workout_exercise_activity: @fitness_workout_exercise_activity %>

<br>

<div>
  <%= link_to "Show this workout exercise activity", @fitness_workout_exercise_activity %> |
  <%= link_to "Back to workout exercise activities", fitness_workout_exercise_activities_path %>
</div>
