<p style="color: green"><%= notice %></p>

<% content_for :title, "Workout exercise activities" %>

<h1>Workout exercise activities</h1>

<div id="fitness_workout_exercise_activities">
  <% @fitness_workout_exercise_activities.each do |fitness_workout_exercise_activity| %>
    <%= render fitness_workout_exercise_activity %>
    <p>
      <%= link_to "Show this workout exercise activity", fitness_workout_exercise_activity %>
    </p>
  <% end %>
</div>

<%= link_to "New workout exercise activity", new_fitness_workout_exercise_activity_path %>
